
<% if !current_user %>
<section class="intro" id="intro">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="intro-section">
          <%= image_tag(("Logo.png"), :class => "logo-main") %>
          <h1 class="logo_text">Find and meet board gamers in your area!</h1>
          <ul class="list-inline">
            <li>
              <a href="/users/sign_up" class="btn btn-custom">
                <i class="fa fa-arrow-circle-o-up"></i>
                Sign up
              </a>
            </li>
            <li>
              <a href="/users/sign_in" class="btn btn-custom-border">
                <i class="fa fa-sign-in"></i>
                Sign in
              </a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</section>
<% end %>


<section class="screenshots" id="screenshots">
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <div class="section-head-left">
          <h1>Users</h1>
          <span class="underline underline-long"></span>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-12">
        <div class="screens">
          <% @random_users.each do |user| %>
            <div class="screen">
              <%= link_to "/users/#{user.id}" do %>
                <div class="style_image_crop">
                  <%= image_tag "#{@pictures.where('id = ?', user.profile_picture)[0].link}" %>
                </div>
                <span class="hover-screen">
                  <i class="fa fa-search"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>