<div ng-app="app">
  <div ng-controller="categoriesCtrl" ng-init="setup()">

    <div ng-if="errors" class="alert alert-danger alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
        <li ng-repeat="error in errors">{{ error }}</li>
      </ul>
    </div>

    <div ng-if="message" class="alert alert-success alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>{{ message }}</p>
    </div>
      
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-head">
              <h1>Categories</h1>
              <span class="underline"></span>
            </div>
          </div>
        </div>

        <div>
           <label>Search categories:
              <input ng-model="mechanismFilter">
           </label>
        </div>

        <div>
          <label>Add a category:
            <input ng-model="newCategory"><button ng-click="addCategory(newCategory)">Add</button>
          </label>
        </div>
        
        <table class="table table-striped">
            <tr ng-repeat="category in categories | filter: {mechanism: mechanismFilter} | orderBy: 'mechanism' track by $index">
                <td>{{category.mechanism}}</td>
                <td><input ng-model="category.update"><button ng-click="editCategory(category)">Update</button></td>
                <td><button ng-click="deleteCategory(category)">Delete</button></td>
            </tr>
        </table>
    </div>
  </div>
</div>