<section class="services" id="services">
  <div class="container">

    <h1>Edit <%= @boardgame.name %></h1>
  
    <%= render "form" %>
    
    <div><%= link_to "Delete board game", "/boardgames/#{@boardgame.id}", method: :delete %></div>
    <div><%= link_to "Back", "/boardgames"%></div>
  </div>
</section>