<section class="services" id="services">
  <div class="container">

    <h1>Edit <%= @boardgame.name %></h1>
    <span class="underline underline-long"></span>
  
    <%= render "form" %>
    
    <div><i class='fa fa-close'></i> <%= link_to "Delete board game", "/boardgames/#{@boardgame.id}", method: :delete %></div>
    <div><i class='fa fa-arrow-left'></i> <%= link_to "Back", "/boardgames"%></div>
  </div>
</section>