<section class="services" id="services">
  <div class="container">

    <h1>Edit <%= @boardgame.name %></h1>
    <span class="underline underline-long"></span>
  
    <%= render "form" %>
    
    <div>
      <%= link_to "/boardgames/#{@boardgame.id}", method: :delete do %>
          <i class="fa fa-close"></i> Delete board game
      <% end %>
    </div>
    <div>
      <%= link_to "/boardgames" do %>
        <i class='fa fa-arrow-left'></i> Back
      <% end %>
    </div>
  </div>
</section>