<section class="services" id="services">
  <div class="container">

    <h1>Edit <%= @boardgame.name %></h1>
  
    <%= render "form" %>
    
    <button><%= link_to "Delete board game", "/boardgames/#{@boardgame.id}", method: :delete %></button>
  </div>
</section>