<!-- begin services section -->
<section class="services" id="services">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-head">
                    <h1>Board Game Index</h1>
                    <span class="underline"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <% @boardgames.each do |boardgame| %>
            <div class="col-md-3 col-sm-6">
                <!-- begin single service item -->
                <div class="service">
                <h4><%= "#{boardgame.name} - #{boardgame.developer}"%></h4>
                <% boardgame.categories.each do |category| %>
                    <p><%= "#{category.mechanism}" %></p>
                <% end %>
                </div>
                <!-- end single service item -->
            </div>
            <% end %>
        </div>

    </div>
</section>
<!-- end services section -->