<div ng-app="app">
  <div ng-controller="boardgamesCtrl" ng-init="setup()">
  
    <section class="services" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-head-left-login">
                        <h1>Board Game Index</h1>
                        <span class="underline underline-xlong"></span>
                    </div>
                </div>
                <div ng-if="<%= current_user.admin %>" class="col-md-6-right-down">
                    <a ng-href="/boardgames/new"><i class="fa fa-plus-square-o"></i> Add a board game</a>
                </div>
            </div>
            <div class="col-md-12 search_bar">
                <label>Search board games:
                    <input ng-model="nameFilter">
                </label>
            </div> 

            <div class="row">
                <div ng-repeat-start="boardgame in boardgames | orderBy: 'name' |filter: nameFilter track by $index ">
                    <div class="service">
                        <div class="col-md-3">
                            <h4 ng-if="<%= current_user.admin %>"><a ng-href="/boardgames/{{boardgame.id}}/edit">{{boardgame.name + " - " + boardgame.developer}}</a></h4>
                            <h4 ng-if="<%= !current_user.admin %>">{{boardgame.name + " - " + boardgame.developer}}</h4>
                            <p ng-repeat="category in boardgame.categories">{{category.mechanism}}</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix" ng-if="($index + 1) % 4 == 0"></div>
                <div ng-repeat-end=""></div>  
            </div>
        </div>
    </section>

  </div>
</div>