<section class="services" id="services">
  <div class="container">

    <h1>Add a board game</h1>
    <span class="underline underline-long"></span>

    <%= render "form" %>
    <div>
      <%= link_to "/boardgames" do %>
        <i class='fa fa-arrow-left'></i> Back
      <% end %>
    </div>
  </div>
</section>